/*
Styles  for Simple History
*/

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
@media (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58rem) {
  html {
    font-size: 18px;
  }
}
